extends layout

block content
  .row
    .col-sm-4
      //- if pet.picUrlSq
      //-   img(src=pet.picUrlSq).img-fluid
      if pet.avatarUrl
        img.card-img-top(src=pet.avatarUrl + '-standard.', alt="Card image cap")
        .card-body
          h4.card-title= pet.name
          small.text-muted= pet.species
          p.card-text= pet.description
          .text-right
              a.card-link(href=`/pets/${pet._id}`) View #{pet.name}
      else
        img.card-img-top(src=pet.picUrl, alt='Card image cap')
        .card-body
          h4.card-title= pet.name
          small.text-muted= pet.species
          p.card-text= pet.description
          .text-right
              a.card-link(href=`/pets/${pet._id}`) View #{pet.name}
      
