extends layout

block content
  .row
    .col-sm-4
      //- if pet.picUrlSq
      //-   img(src=pet.picUrlSq).img-fluid
      if pet.avatarUrl
        img.card-img-top(src=pet.avatarUrl + '-standard.', alt="Card image cap")
        .card-body
          h4.card-title= pet.name
          small.text-muted= pet.species
        small.text-muted= pet.birthday
          p.card-text= pet.description
          .text-right
              a.card-link(href=`/pets/${pet._id}`) View #{pet.name}
      else
        img.card-img-top(src=pet.picUrl, alt='Card image cap')
        .card-body
          h4.card-title= pet.name
          small.text-muted= pet.species
        small.text-muted= pet.birthday
          p.card-text= pet.description
          .text-right
              a.card-link(href=`/pets/${pet._id}`) View #{pet.name}
      form(action=`/pets/${pet._id}/purchase`, method='POST')
        script.stripe-button(src='https://checkout.stripe.com/checkout.js',
        data-key=PUBLIC_STRIPE_API_KEY,
        data-amount=pet.price*100,
        data-name="Proud Pete's Pet Emporium",
        data-description='Widget',
        data-image='https://stripe.com/img/documentation/checkout/marketplace.png',
        data-locale='auto',
        data-zip-code='true')
        input.form-control(type="hidden" value=pet._id name="petId")  
